#card-categoria {
    margin-top: 8px;
    margin-bottom: 8px;
}

#card-content-categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#label-categoria {
    margin: 4px;
    font-weight: bold;
}

#icone {
    cursor: pointer;
}

#div-acoes-categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#label-imagem {
    color: #098dbd;
    text-decoration: underline;
    cursor: pointer;
}

#card-content-categoria {
    display: flex;
    flex-wrap: wrap;
}
