#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-login {
    margin: 40px;
}

#card-content-login {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#div-formulario-login {
    margin: 10px;
}

#logo-login {
    width: 100px;
    height: 100px;
}
