#card-produto {
    margin-top: 8px;
    margin-bottom: 8px;
}

#card-content-produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#label-produto {
    margin: 4px;
    font-weight: bold;
}

#label-descricao {
    margin: 4px;
}

#label-preco {
    margin: 4px;
    color: green;
}

#icone {
    cursor: pointer;
}

#div-produto {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 800px) {
    #card-content-produto {
        align-items: flex-start;
        flex-direction: column;
        padding: 10px;
    }
}
